In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyreadstat

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [37]:
# calling biomarkers
bloodbiomk1_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bloodbiomk1_20231117.csv"
bloodbiomk1 = pd.read_csv(bloodbiomk1_file_path)
bloodbiomk1 = pd.DataFrame(bloodbiomk1)

bloodbiomk2_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bloodbiomk2_20231117.csv"
bloodbiomk2 = pd.read_csv(bloodbiomk2_file_path)
bloodbiomk2 = pd.DataFrame(bloodbiomk2)

csfbiomk1_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\csfbiomk1_20231117.csv"
csfbiomk1 = pd.read_csv(csfbiomk1_file_path)
csfbiomk1 = pd.DataFrame(csfbiomk1)

csfbiomk2_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\csfbiomk2_20231117.csv"
csfbiomk2 = pd.read_csv(csfbiomk2_file_path)
csfbiomk2 = pd.DataFrame(csfbiomk2)

csfbiomk3_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\csfbiomk3_20231117.csv"
csfbiomk3 = pd.read_csv(csfbiomk3_file_path)
csfbiomk3 = pd.DataFrame(csfbiomk3)

In [38]:
# Check for null values in each column
bloodbiomk1_nulls = bloodbiomk1.isnull().sum()

bloodbiomk1_nulls_df = pd.DataFrame({
    'Column': bloodbiomk1_nulls.index,
    'Number of Nulls': bloodbiomk1_nulls.values
})

bloodbiomk1_nulls_df_transposed = bloodbiomk1_nulls_df.T

print("Null values in bloodbiomk1:")
print(bloodbiomk1_nulls_df)
bloodbiomk1_nulls_df_transposed.to_csv(r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bloodbiomk1_nulls.csv", index=False)

Null values in bloodbiomk1:
                           Column  Number of Nulls
0                      subject_id                0
1                           visit                0
2                     checkin_bin                0
3                     exposurebin                0
4                      age_decade                0
5                racecat_combined                0
6                        eduyears                0
7                      totyr_foot               56
8                     chiiseas_pf               56
9                      chiiyrs_pf               56
10                    chiiseas_pl               56
11                     chiiyrs_pl               56
12                    chiiseas_pg               56
13                     chiiyrs_pg               56
14                         p_Ab40                4
15                         p_Ab42                5
16                         p_GFAP                8
17                          p_NfL                4
18    p_Ab40_FLAG_below_ref_range                4
19    p_Ab42_FLAG_below_ref_range                4
20    p_GFAP_FLAG_below_ref_range                4
21     p_NfL_FLAG_below_ref_range                4
22                    p_PDGFRbeta                5
23         p_PDGFRbeta_FLAG_other              225
24                        p_pT181                4
25                        p_pT231                4
26                         p_ttau               10
27  dxcte_totaltau_plasma_flag_dv               10

In [39]:
bloodbiomk1.head()

,subject_id,visit,checkin_bin,exposurebin,age_decade,racecat_combined,eduyears,totyr_foot,chiiseas_pf,chiiyrs_pf,...,p_Ab40_FLAG_below_ref_range,p_Ab42_FLAG_below_ref_range,p_GFAP_FLAG_below_ref_range,p_NfL_FLAG_below_ref_range,p_PDGFRbeta,p_PDGFRbeta_FLAG_other,p_pT181,p_pT231,p_ttau,dxcte_totaltau_plasma_flag_dv
0,1001,1,2,1,1,5,16.0,7.0,4335.4,2167.7,...,0.0,0.0,0.0,0.0,5628.71,NaN,8.12,7.58,1.25,1.0
1,1002,1,2,1,1,5,15.0,14.0,10363.1,5708.1,...,0.0,0.0,0.0,0.0,10123.09,NaN,6.04,7.53,1.20,1.0
2,1003,1,2,1,1,5,18.0,12.0,6685.4,4863.9,...,0.0,0.0,0.0,0.0,10045.39,NaN,9.33,9.34,1.57,1.0
3,1004,1,1,1,2,5,16.0,16.0,7701.2,6448.9,...,0.0,0.0,0.0,0.0,9563.19,NaN,6.63,5.87,0.73,1.0
4,1005,1,3,0,2,5,21.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,12826.15,NaN,8.31,7.99,1.54,1.0

In [44]:
bloodbiomk1 = bloodbiomk1.drop(columns=bloodbiomk1.loc[:,'subject_id':'chiiyrs_pg'].columns)
bloodbiomk1.head()

,p_Ab40,p_Ab42,p_GFAP,p_NfL,p_Ab40_FLAG_below_ref_range,p_Ab42_FLAG_below_ref_range,p_GFAP_FLAG_below_ref_range,p_NfL_FLAG_below_ref_range,p_PDGFRbeta,p_PDGFRbeta_FLAG_other,p_pT181,p_pT231,p_ttau,dxcte_totaltau_plasma_flag_dv
0,126.5,8.535,73.80,11.95,0.0,0.0,0.0,0.0,5628.71,NaN,8.12,7.58,1.25,1.0
1,84.2,7.460,42.05,6.44,0.0,0.0,0.0,0.0,10123.09,NaN,6.04,7.53,1.20,1.0
2,124.0,7.285,34.35,8.22,0.0,0.0,0.0,0.0,10045.39,NaN,9.33,9.34,1.57,1.0
3,110.5,5.920,48.45,13.00,0.0,0.0,0.0,0.0,9563.19,NaN,6.63,5.87,0.73,1.0
4,126.0,9.150,46.75,11.20,0.0,0.0,0.0,0.0,12826.15,NaN,8.31,7.99,1.54,1.0

In [45]:
bloodbiomk1 = bloodbiomk1.drop(columns='p_PDGFRbeta_FLAG_other')
bloodbiomk1.head()

,p_Ab40,p_Ab42,p_GFAP,p_NfL,p_Ab40_FLAG_below_ref_range,p_Ab42_FLAG_below_ref_range,p_GFAP_FLAG_below_ref_range,p_NfL_FLAG_below_ref_range,p_PDGFRbeta,p_pT181,p_pT231,p_ttau,dxcte_totaltau_plasma_flag_dv
0,126.5,8.535,73.80,11.95,0.0,0.0,0.0,0.0,5628.71,8.12,7.58,1.25,1.0
1,84.2,7.460,42.05,6.44,0.0,0.0,0.0,0.0,10123.09,6.04,7.53,1.20,1.0
2,124.0,7.285,34.35,8.22,0.0,0.0,0.0,0.0,10045.39,9.33,9.34,1.57,1.0
3,110.5,5.920,48.45,13.00,0.0,0.0,0.0,0.0,9563.19,6.63,5.87,0.73,1.0
4,126.0,9.150,46.75,11.20,0.0,0.0,0.0,0.0,12826.15,8.31,7.99,1.54,1.0

In [49]:
# Calculate the mean for each column, ignoring NaNs
mean_values = bloodbiomk1.mean()

bloodbiomk1 = bloodbiomk1.fillna(mean_values)

bloodbiomk1.head(15)

,p_Ab40,p_Ab42,p_GFAP,p_NfL,p_Ab40_FLAG_below_ref_range,p_Ab42_FLAG_below_ref_range,p_GFAP_FLAG_below_ref_range,p_NfL_FLAG_below_ref_range,p_PDGFRbeta,p_pT181,p_pT231,p_ttau,dxcte_totaltau_plasma_flag_dv
0,126.50,8.535,73.80,11.950,0.0,0.0,0.0,0.0,5628.71,8.12,7.58,1.250000,1.000000
1,84.20,7.460,42.05,6.440,0.0,0.0,0.0,0.0,10123.09,6.04,7.53,1.200000,1.000000
2,124.00,7.285,34.35,8.220,0.0,0.0,0.0,0.0,10045.39,9.33,9.34,1.570000,1.000000
3,110.50,5.920,48.45,13.000,0.0,0.0,0.0,0.0,9563.19,6.63,5.87,0.730000,1.000000
4,126.00,9.150,46.75,11.200,0.0,0.0,0.0,0.0,12826.15,8.31,7.99,1.540000,1.000000
5,42.60,3.565,20.80,50.300,0.0,0.0,1.0,0.0,4625.97,6.36,5.98,1.740000,1.000000
6,69.50,5.985,66.50,4.765,0.0,0.0,0.0,0.0,9019.82,5.30,5.69,1.330000,1.000000
7,76.85,5.465,98.10,9.330,0.0,0.0,0.0,0.0,4259.99,5.87,3.78,1.100000,1.000000
8,131.50,9.860,73.70,15.800,0.0,0.0,0.0,0.0,7806.22,6.47,3.74,2.140000,1.000000
9,85.00,7.900,21.70,7.975,0.0,0.0,0.0,0.0,6606.37,8.53,6.15,1.380000,1.000000
10,72.90,5.770,21.30,7.265,0.0,0.0,0.0,0.0,7709.44,13.26,12.98,0.600000,1.000000
11,109.05,7.140,46.45,8.805,0.0,0.0,0.0,0.0,10722.07,3.74,4.04,1.790000,1.000000
12,106.40,8.220,41.85,5.795,0.0,0.0,0.0,0.0,2468.37,6.69,5.84,1.454905,1.013274
13,121.50,7.615,51.60,16.650,0.0,0.0,0.0,0.0,15159.53,10.36,8.26,1.190000,1.000000
14,104.80,2.995,27.45,4.685,0.0,0.0,0.0,0.0,5314.29,7.16,8.63,3.230000,1.000000

In [15]:
# calling Neuropsychiatric Measurements
aes_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\aes_20231117.csv"
aes = pd.read_csv(aes_file_path)
aes = pd.DataFrame(aes)

bai_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bai_20231117.csv"
bai = pd.read_csv(bai_file_path)
bai = pd.DataFrame(bai)

bdhi_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bdhi_20231117.csv"
bdhi = pd.read_csv(bdhi_file_path)
bdhi = pd.DataFrame(bdhi)

bdi_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bdi_20231117.csv"
bdi = pd.read_csv(bdi_file_path)
bdi = pd.DataFrame(bdi)

bglha_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bglha_20231117.csv"
bglha = pd.read_csv(bglha_file_path)
bglha = pd.DataFrame(bglha)

bhs_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bhs_20231117.csv"
bhs = pd.read_csv(bhs_file_path)
bhs = pd.DataFrame(bhs)

bis_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bis_20231117.csv"
bis = pd.read_csv(bis_file_path)
bis = pd.DataFrame(bis)

bmq_ts_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bmq_ts_20231117.csv"
bmq_ts = pd.read_csv(bmq_ts_file_path)
bmq_ts = pd.DataFrame(bmq_ts)

bmq_ts_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\bmq_ts_sp_20231117.csv"
bmq_ts_sp = pd.read_csv(bmq_ts_sp_file_path)
bmq_ts_sp = pd.DataFrame(bmq_ts_sp)

briefa_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\briefa_20231117.csv"
briefa = pd.read_csv(briefa_file_path)
briefa = pd.DataFrame(briefa)

briefa_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\briefa_sp_20231117.csv"
briefa_sp = pd.read_csv(briefa_sp_file_path)
briefa_sp = pd.DataFrame(briefa_sp)

briefa_bri_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\briefa_bri_20231117.csv"
briefa_bri = pd.read_csv(briefa_bri_file_path)
briefa_bri = pd.DataFrame(briefa_bri)

briefa_bri_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\briefa_bri_sp_20231117.csv"
briefa_bri_sp = pd.read_csv(briefa_bri_sp_file_path)
briefa_bri_sp = pd.DataFrame(briefa_bri_sp)

cbmh_behavior_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\cbmh_behavior_20231117.csv"
cbmh_behavior = pd.read_csv(cbmh_behavior_file_path)
cbmh_behavior = pd.DataFrame(cbmh_behavior)

cbmh_behavior_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\cbmh_behavior_sp_20231117.csv"
cbmh_behavior_sp = pd.read_csv(cbmh_behavior_sp_file_path)
cbmh_behavior_sp = pd.DataFrame(cbmh_behavior_sp)

cbmh_sv_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\cbmh_sv_20231117.csv"
cbmh_sv = pd.read_csv(cbmh_sv_file_path)
cbmh_sv = pd.DataFrame(cbmh_sv)

cbmh_sv_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\cbmh_sv_sp_20231117.csv"
cbmh_sv_sp = pd.read_csv(cbmh_sv_sp_file_path)
cbmh_sv_sp = pd.DataFrame(cbmh_sv_sp)

cns_ls_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\cns_ls_20231117.csv"
cns_ls = pd.read_csv(cns_ls_file_path)
cns_ls = pd.DataFrame(cns_ls)

eq_5d_5l_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\eq_5d_5l_20231117.csv"
eq_5d_5l = pd.read_csv(eq_5d_5l_file_path)
eq_5d_5l = pd.DataFrame(eq_5d_5l)

neurocog_m_p_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\neurocog_m_p_20231117.csv"
neurocog_m_p = pd.read_csv(neurocog_m_p_file_path)
neurocog_m_p = pd.DataFrame(neurocog_m_p)

neuropsych_m_p_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\neuropsych_m_p_20231117.csv"
neuropsych_m_p = pd.read_csv(neuropsych_m_p_file_path)
neuropsych_m_p = pd.DataFrame(neuropsych_m_p)

npi_q_sp_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\npi_q_sp_20231117.csv"
npi_q_sp = pd.read_csv(npi_q_sp_file_path)
npi_q_sp = pd.DataFrame(npi_q_sp)

ptsd5_pclc20_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\ptsd5_pclc20_20231117.csv"
ptsd5_pclc20 = pd.read_csv(ptsd5_pclc20_file_path)
ptsd5_pclc20 = pd.DataFrame(ptsd5_pclc20)

s_sts_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\s_sts_20231117.csv"
s_sts = pd.read_csv(s_sts_file_path)
s_sts = pd.DataFrame(s_sts)

staxi_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\staxi_20231117.csv"
staxi = pd.read_csv(staxi_file_path)
staxi = pd.DataFrame(staxi)

ucla_ls_file_path = r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\ucla_ls_20231117.csv"
ucla_ls = pd.read_csv(ucla_ls_file_path)
ucla_ls = pd.DataFrame(ucla_ls)

In [16]:
ucla_ls.head()

,subject_id,visit,checkin_bin,exposurebin,age_decade,racecat_combined,eduyears,totyr_foot,chiiseas_pf,chiiyrs_pf,...,ucla12,ucla13,ucla14,ucla15,ucla16,ucla17,ucla18,ucla19,ucla20,uclatot
0,1001,1,2,1,1,5,16.0,7.0,4335.4,2167.7,...,2.0,2.0,3.0,2.0,4.0,4.0,2.0,4.0,4.0,42.0
1,1002,1,2,1,1,5,15.0,14.0,10363.1,5708.1,...,3.0,1.0,3.0,3.0,2.0,4.0,4.0,2.0,2.0,62.0
2,1003,1,2,1,1,5,18.0,12.0,6685.4,4863.9,...,1.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,48.0
3,1004,1,1,1,2,5,16.0,16.0,7701.2,6448.9,...,2.0,3.0,3.0,2.0,3.0,2.0,3.0,4.0,4.0,48.0
4,1005,1,3,0,2,5,21.0,NaN,NaN,NaN,...,3.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,3.0,55.0

In [25]:
# Check for null values in each column
ucla_ls_nulls = ucla_ls.isnull().sum()

ucla_ls_nulls_df = pd.DataFrame({
    'Column': ucla_ls_nulls.index,
    'Number of Nulls': ucla_ls_nulls.values
})

ucla_ls_nulls_df_transposed = ucla_ls_nulls_df.T

print("Null values in ucla_ls:")
print(ucla_ls_nulls_df)
ucla_ls_nulls_df_transposed.to_csv(r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\ucla_ls_nulls.csv", index=False)

Null values in ucla_ls:
              Column  Number of Nulls
0         subject_id                0
1              visit                0
2        checkin_bin                0
3        exposurebin                0
4         age_decade                0
5   racecat_combined                0
6           eduyears                0
7         totyr_foot               56
8        chiiseas_pf               56
9         chiiyrs_pf               56
10       chiiseas_pl               56
11        chiiyrs_pl               56
12       chiiseas_pg               56
13        chiiyrs_pg               56
14             ucla1                2
15             ucla2                2
16             ucla3                2
17             ucla4                2
18             ucla5                2
19             ucla6                2
20             ucla7                2
21             ucla8                2
22             ucla9                2
23            ucla10                2
24            ucla11                3
25            ucla12                2
26            ucla13                2
27            ucla14                3
28            ucla15                2
29            ucla16                2
30            ucla17                2
31            ucla18                2
32            ucla19                2
33            ucla20                2
34           uclatot                2

In [22]:
# Export the transposed feature_1_nulls_df to a CSV file
ucla_ls_nulls_df_transposed.to_csv(r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\ucla_ls_nulls.csv", index=False)

# # Export the transposed label_1_nulls_df to a CSV file
# label_1_nulls_transposed.to_csv(r"Z:\Active-Diagnose_CTE\Fargol_Analysis\label_1_nulls_transposed.csv", index=True)

# print("Transposed DataFrames have been saved as CSV files.")

SyntaxError: invalid syntax (961131665.py, line 1)

In [50]:
# Check for null values in each column
briefa_nulls = briefa.isnull().sum()

briefa_nulls_df = pd.DataFrame({
    'Column': briefa_nulls.index,
    'Number of Nulls': briefa_nulls.values
})

briefa_nulls_df_transposed = briefa_nulls_df.T

print("Null values in briefa:")
print(briefa_nulls_df)
briefa_nulls_df_transposed.to_csv(r"Z:\Active-Diagnose_CTE\Fargol_Analysis\Neuropsychiatric_from_Biomarkers\briefa_nulls.csv", index=False)

Null values in briefa:
          Column  Number of Nulls
0     subject_id                0
1          visit                0
2    checkin_bin                0
3    exposurebin                0
4     age_decade                0
..           ...              ...
102      workorg                0
103    upseteasy                0
104    impulsive                0
105       pickup                0
106     complete                0

[107 rows x 2 columns]

In [64]:
# briefa = briefa.drop(columns=briefa.loc[:,'subject_id':'chiiyrs_pg'].columns)
# briefa.head()

# briefa = briefa.drop(columns='p_PDGFRbeta_FLAG_other')
# briefa.head()

mean_values = bloodbiomk1.mean()

bloodbiomk1 = bloodbiomk1.fillna(mean_values)

bloodbiomk1.head(15)

    p_Ab40  p_Ab42  p_GFAP   p_NfL  p_PDGFRbeta  p_pT181  p_pT231    p_ttau
0   126.50   8.535   73.80  11.950      5628.71     8.12     7.58  1.250000
1    84.20   7.460   42.05   6.440     10123.09     6.04     7.53  1.200000
2   124.00   7.285   34.35   8.220     10045.39     9.33     9.34  1.570000
3   110.50   5.920   48.45  13.000      9563.19     6.63     5.87  0.730000
4   126.00   9.150   46.75  11.200     12826.15     8.31     7.99  1.540000
5    42.60   3.565   20.80  50.300      4625.97     6.36     5.98  1.740000
6    69.50   5.985   66.50   4.765      9019.82     5.30     5.69  1.330000
7    76.85   5.465   98.10   9.330      4259.99     5.87     3.78  1.100000
8   131.50   9.860   73.70  15.800      7806.22     6.47     3.74  2.140000
9    85.00   7.900   21.70   7.975      6606.37     8.53     6.15  1.380000
10   72.90   5.770   21.30   7.265      7709.44    13.26    12.98  0.600000
11  109.05   7.140   46.45   8.805     10722.07     3.74     4.04  1.790000
12  106.40   8.220   41.85   5.795      2468.37     6.69     5.84  1.454905
13  121.50   7.615   51.60  16.650     15159.53    10.36     8.26  1.190000
14  104.80   2.995   27.45   4.685      5314.29     7.16     8.63  3.230000

In [63]:
bloodbiomk1 = bloodbiomk1.drop(columns=['p_Ab40_FLAG_below_ref_range',
                              'p_Ab42_FLAG_below_ref_range',
                              'p_GFAP_FLAG_below_ref_range', 
                              'p_NfL_FLAG_below_ref_range',
                              'dxcte_totaltau_plasma_flag_dv'])
bloodbiomk1.head()
bloodbiomk1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   p_Ab40       236 non-null    float64
 1   p_Ab42       236 non-null    float64
 2   p_GFAP       236 non-null    float64
 3   p_NfL        236 non-null    float64
 4   p_PDGFRbeta  236 non-null    float64
 5   p_pT181      236 non-null    float64
 6   p_pT231      236 non-null    float64
 7   p_ttau       236 non-null    float64
dtypes: float64(8)
memory usage: 14.9 KB

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = bloodbiomk1.copy()  # Feature matrix

models = {}
predictions = {}

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test = train_test_split(X_scaled, test_size=0.3, random_state=42)

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Loop through each column in briefa and train a model
for column in briefa.columns:
    y = briefa[column]  # Get the label column
    y_train, y_test = train_test_split(y, test_size=0.3, random_state=42)
    
    # Initialize and train the model
    model = RandomForestRegressor(random_state=42)
    model.fit(X_train, y_train)
    
    # Store the model
    models[column] = model
    
    # Make predictions
    y_pred = model.predict(X_test)
    predictions[column] = y_pred
    
    # Evaluate the model
    mse = mean_squared_error(y_test, y_pred)
    print(f"Column: {column}, Mean Squared Error: {mse}")

Column: mi, Mean Squared Error: 417.50832343366164
Column: tmi, Mean Squared Error: 306.35794918121695
Column: gec, Mean Squared Error: 1167.048118701389
Column: tgec, Mean Squared Error: 321.01686832270406
Column: bri, Mean Squared Error: 213.1146241556713
Column: tbri, Mean Squared Error: 280.7068932326271
Column: inhibit, Mean Squared Error: 13.899698445282974
Column: shift, Mean Squared Error: 12.33329152523857
Column: emotcont, Mean Squared Error: 31.975814680366597
Column: selfmon, Mean Squared Error: 9.745949279195012
Column: initiate, Mean Squared Error: 15.333539175359036
Column: workmem, Mean Squared Error: 23.37795292246551
Column: planorg, Mean Squared Error: 31.435417590891916
Column: taskmon, Mean Squared Error: 10.227877993457106
Column: orgmat, Mean Squared Error: 22.610899816562736
Column: negativ, Mean Squared Error: 2.2243166666666667
Column: infreq, Mean Squared Error: 1.4342357085459183
Column: inconsis, Mean Squared Error: 3.9138357573696148
Column: angry, Mean Squared Error: 0.36290416666666664

ValueError: Input contains NaN.

In [54]:
# Create a DataFrame to store predictions
predicted_values = pd.DataFrame(index=briefa.index)

# Predict for each column in briefa
for column, model in models.items():
    predicted_values[column] = model.predict(X_scaled)

# View predicted values
print(predicted_values.head())

        mi     tmi      gec   tgec    bri   tbri  inhibit  shift  emotcont  \
0  65.8800  56.960  102.630  53.02  39.18  45.37   11.085   8.28     11.83
1  88.2600  76.192  154.520  77.38  64.38  73.02   15.330  13.29     20.90
2  76.5000  66.440  136.622  68.00  58.01  66.61   13.454  11.90     22.21
3  51.8800  45.550   95.180  48.72  42.77  52.14   10.540   8.85     16.25
4  52.1825  45.810   94.320  48.08  42.66  52.82   10.100  10.86     13.74

   selfmon  initiate    workmem  planorg  taskmon  orgmat  negativ  infreq  \
0     6.94     12.35  14.528571    16.73  10.7700   10.34     0.13    0.32
1    13.39     16.82  20.960000    23.45  13.1300   14.65     0.91    0.13
2    10.46     16.59  18.310000    19.22  11.8525   11.33     0.06    0.04
3     7.12      9.84  10.520000    12.22   8.2200    9.58     0.25    1.46
4     7.93     10.87   9.940000    12.73   8.2100    9.64     0.31    0.17

   inconsis  angry    errors
0     1.700   1.09  1.700000
1     3.520   1.90  2.620000
2     2.406   1.82  2.370000
3     0.570   1.95  1.273333
4     1.860   1.21  1.136667